{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Portafolio Gustavo Muñoz</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'contacto/css/styles.css'%}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#about">Sobre mí</a></li>
        <li><a href="#tech">Tecnologías</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="about">
      <h1>Hola, soy Gustavo Muñoz</h1>
      <p>
        Estudiante de Ingeniería en Informática, tengo 25 años y un fuerte interés en el desarrollo Backend y el manejo de datos. Me gusta construir APIs REST funcionales, trabajar con bases de datos y aportar desde la lógica que conecta sistemas. Aunque el Frontend no es mi área de mayor afinidad, me especializo en la capa lógica y estructural de las aplicaciones, con buenas habilidades comunicativas para colaborar eficazmente en equipos multidisciplinarios.
      </p>
    </section>

    <section id="tech">
      <h2>Tecnologías</h2>
      <div class="tech-grid">
        <div class="tech-item">
          <img src="../static/contacto/img/logoDjango.webp" alt="Django">
          <br>
          <span>Django</span>
        </div>
        <div class="tech-item">
          <img src="../static/contacto/img/logoNodejs.png" alt="Node.js">
          <br>
          <span>Node.js</span>
        </div>
        <div class="tech-item">
          <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg" alt="PostgreSQL">
          <span>PostgreSQL</span>
        </div>
        <div class="tech-item">
          <img src="../static/contacto/img/logoOracle.png" alt="Oracle" id="img-oracle">
          <br>
          <span>Oracle PL/SQL</span>
        </div>
        <div class="tech-item">
          <img src="../static/contacto/img/logoMongoDb.webp" alt="MongoDB">
          <span>MongoDB</span>
        </div>
        <div class="tech-item">
          <img src="../static/contacto/img/logoHtml.png" alt="HTML">
          <br>
          <span>HTML5</span>
        </div>
        <div class="tech-item">
          <img src="../static/contacto/img/logoCSS3.png" alt="CSS">
          <br>
          <span>CSS</span>
        </div>
        <div class="tech-item">
          <img src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" alt="JavaScript">
          <span>JavaScript</span>
        </div>
        <div class="tech-item">
          <img src="https://cdn-icons-png.flaticon.com/512/5968/5968350.png" alt="Python">
          <br>
          <span>Python</span>
        </div>
        <div class="tech-item">
          <img src="../static/contacto/img/logoJWT.webp" alt="JWT">
          <br>
          <span>JWT</span>
        </div>
      </div>
    </section>

    <section id="contact">
      <h2>Información de Contacto</h2>
      <form id="form-contacto" method="POST">
        {% csrf_token %}
        <input id="nombre" type="text" name="name" placeholder="Nombre (Organización y/o Empresa)" required>
        <input id="email" type="email" name="email" placeholder="Correo electrónico" required>
        <input id="mensaje" class="input-message"type="text" name="Mensaje"placeholder="¡Deja tu mensaje Aquí!" required>
        <button type="submit">Enviar</button>
      </form>
      <p id="respuesta"></p>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Estudiante de Informática. Todos los derechos reservados.</p>
  </footer>
  <script src="{% static 'contacto/js/formulario.js' %}"></script>
</body>
</html>